.toprated-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
}

.toprated-joke-list {
    list-style-type: none;
}

.toprated-joke-title-container {
    display: flex;
    align-items: center;
}

.toprated-bottom-container {
    display: flex;
    align-items: center;
}

.toprated-joke-container {
    display: flex;
    align-items: center;
    width: 500px;
    height: 80px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    overflow: scroll;
    margin-top: 1em;
    margin-right: 6em;
}

.toprated-joke-title {
    margin-right: 4em;
}

.toprated-joke-rating {
    margin-left: 4em;
}

.toprated-delete-btn {
    margin-top: 4px;
}
