* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
}


#root {
    display: flex;
    width: 100%;
    height: 100vh;
    text-align: center;
}


.menu-container {
    width: 20%;
    background-color: white;
}

.menu-container li {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    display: list-item;
    padding: 5px;
    /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
}



.nav-button {
    width: 220px;
    height: 40px;
    border-radius: 4px;
    margin-top: 10px;
    font-weight: bolder;
}

.subject-button {
    width: 220px;
    height: 30px;
    border-radius: 4px;
    /* margin-top: 15px; */
    font-weight: lighter;
}

.about-me {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.fa-brands {
    padding: 0 10px;
}

.img-logo2 {
    width: 50%;
    height: auto;
}

.img-logo2-container {
    margin: 20px 0;
}

.footer {
    position: fixed;
    bottom: 20px;
    margin-left: 20px;
}
