.subject-page-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
    padding-top: 10%;

}


.subject-title-container {
    display: flex;
    padding: 40px;
}

.subject-list {
    list-style-type: none;
    padding-right: 40px;
}

.subject-container {
    display: flex;
    padding: 20px;
}

.subject-delete-btn {
    margin-left: 2em;
}

.subject-add-btn {
    margin-left: 2em;
}
